<ng-container class="mt-5">
  <section class="mt-5">
    <div class="p-3 border border-dark mt-4 col-6 m-auto">
      <textarea
        class="mt-5"
        [(ngModel)]="emailsList"
        [placeholder]="
          'Please Enter Emails by adding Commas and Enter upto 5 emails'
        "
        id="emails"
        name="Emails"
        rows="4"
        cols="50"
      ></textarea>
      <div>
        <button
          class="btn btn-primary mt-4"
          [disabled]="!emailsList"
          (click)="onSendSubscription()"
        >
          send
        </button>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="p-3 border border-dark col-6 m-auto mt-4">
      <input
        type="file"
        class="mt-5 border border-dark"
        (change)="onFileSelected($event)"
      />
      <button class="btn btn-primary mt-4" (click)="onUploadFile()">
        submit
      </button>
    </div>
  </section>
</ng-container>
